frontend/node_modules
frontend/dist
frontend/coverage
backend/certs
backend/config.json
backend/src/node_modules
backend/src/serviceAccountKey.json
backend/src/backend-dist
backend/cfn/package-template.yml
api/src/node_modules
api/src/api-dist
api/package-template.yml