server/node_modules
skill/src/node_modules
skill/deploy/deploy.properties
skill/deploy/skill.zip
server/backend/certs
server/backend/serviceAccountKey.json
**/*.log
skill/deploy/packaged-template.yml
.vscode/launch.json
