.vscode/launch.json
**/*.log
server/node_modules
server/backend/certs
server/backend/serviceAccountKey.json
server/config.json
server/backend/config.json
server/backend/public/bundle
server/backend/public/css/index.css
docker/web/cert/**
docker/.env
backend/node_modules
backend/serviceAccountKey.json
