CF_DOMAIN_NAME=dev.mythrowaway.net
CF_CERT_ARN=arn:aws:acm:us-east-1:123456789012:certificate/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
CF_FRONTEND_BUCKET=throwtrash-dev
CF_FRONTEND_ORIGIN_PATH=
CF_BACKEND_API_DOMAIN=xxxx.execute-api.ap-northeast-1.amazonaws.com
CF_MOBILE_API_DOMAIN=yyyy.execute-api.ap-northeast-1.amazonaws.com