<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <title>エラーが発生しました</title>

</head>

<body>
    <p>
       エラーが発生しました。 
    </p>

    <p>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScQiZNzcYKgto1mQYAmxmo49RTuAnvtmkk3BQ02MsVlE4OmHg/viewform?embedded=true">こちらのページサポートにお問い合わせください。</a>
    </p>
</body>

</html>